# ========================
# Java / Maven
# ========================
target/
*.class
*.jar
*.war
*.ear
.mvn/
!.mvn/wrapper/maven-wrapper.properties

# ========================
# Node / Angular
# ========================
node_modules/
dist/
.angular/
*.log
npm-debug.log*

# ========================
# IDEs
# ========================
.idea/
.vscode/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.factorypath

# ========================
# Sistema operativo
# ========================
.DS_Store
Thumbs.db
